.header {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: relative;
}

.headerContent {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5vw;
}

.headerContent h1 {
  font-size: 30px;
  color: var(--text-primary);
  cursor: pointer;
}

.gradientMenu {
  background: var(--primary-gradient);
  height: 5px;
  width: 100%;
  transition: height 0.3s ease;
  overflow: hidden;
}

.gradientMenu.open {
  height: 10vh;
}

.menuContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5vw;
  flex-direction: row;
  height: 100%;
}

.menuItem {
  color: var(--background-color);
  cursor: pointer;
  transition: color 0.2s;
  font-size: 18px;
}

.menuItem:hover {
  color: var(--text-primary);
}

.action {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login {
  color: var(--text-primary);
  font-size: 18px;
  cursor: pointer;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--background-color-secondary);
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 8px 12px;
  color: var(--text-primary);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.dropdown li:hover {
  background-color: var(--background-color-secondary);
}
