.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 11px;
  }
}

.imageContainer {
  position: relative; // Permite posicionar elementos dentro
  display: flex;
  background-color: var(--background-color-secondary);
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  padding: 1rem;
  border-radius: 8px;
}

.dexNumber {
  position: absolute;
  top: 4px;
  left: 4px;
  color: var(--text-primary);
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}
