.button {
  background-color: transparent;
  color: var(--text-primary);
  border: 2px solid var(--text-primary); /* padrão se não passar cor */
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--text-secondary);
}

/* Cor azul */
.button.blue {
  border-color: var(--light-blue);
}

.button.blue:hover {
  background-color: var(--light-blue);
  color: var(--text-primary);
}

/* Cor vermelha */
.button.red {
  border-color: var(--light-red);
}

.button.red:hover {
  background-color: var(--light-red);
  color: var(--text-primary);
}

.button:disabled,
.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: transparent;
  border-color: var(--text-secondary);
  color: var(--text-secondary);
}

.button:disabled:hover,
.button.disabled:hover {
  background-color: transparent;
}
