.searchBar {
  display: flex;
  align-items: center;
  background-color: var(--background-color-secondary);
  border-radius: 8px;
  padding: 8px 12px;
  flex: 1;
  min-width: 0;

  gap: 8px;

  input {
    flex: 1;
    min-width: 0;
    background: transparent;
    border: none;
    color: var(--text-primary);
    font-size: 16px;
    outline: none;

    &::placeholder {
      color: var(--text-secondary);
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-primary);
    transition: color 0.2s;

    &:hover {
      color: var(--light-blue);
    }
  }
}
