  .mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #D93B3B, #5DCAF2);
  }

  .header-content {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-content h1 {
    font-size: 30px;
    font-weight: 400;
    color: #FFF3E5;
  }
  
  .logoutButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .content {
    flex-grow: 1;
    padding: 0rem;
  }