.searchSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 2vh 2vw;
  width: 96vw;
}

.generationSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

   .h1{
     border-bottom: var(--primary-gradient);
   }

  .pokemonSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
